* {
    font-family: Helvetica, sans-serif;
}

header span {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("../images/pattern.jpeg");
    display: block;
    margin: 50px 0px;
}

h2 {
    font-size: 32px;
    color: white;
}

.brushes h2 {
    background-color: mediumspringgreen;
}

.frames h2 {
    background-color: lightcoral;
}

.paint h2 {
    background-color: skyblue;
}

span {
    font-weight: bold;
    color: blue;
}